* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/bodyBackground.jpeg);
    background-size: cover;
}

h3 {
    font-weight: bolder;
    color: white;
}

/* START */

#startButton {
    background-image: url(../images/buttonImage.jpg);
    background-size: 600px 200px;
    height: 200px;
    width: 600px;
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    opacity: .7;
}

#startButton:hover {
    background-image: url(../images/buttonImage2.jpg);
    font: 0/0 a;
}

/* GAME PAGE */

#container {
    /* border: 1px solid red; */
    width: 80%;
    height: 800px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin:auto;
}

#titleRow {
    /* border: 1px solid blue; */
    width: 80%;
    height: 150px;
    margin:auto;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-size: 75px;
    padding-top: 20px;
    background-color: white;
    opacity: .5;
}

#titleRow:hover {
    font-weight: bolder;
}

#clock {
    /* border: 1px solid blue; */
    width: 90%;
    height: 100px;
    margin:auto;
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#questionsHere {
    /* border: 1px solid blue; */
    width: 90%;
    height: 600px;
    margin-left: 60px;
    margin:auto;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.resultsReset {
    /* border: 1px solid red; */
    width: 100%;
    height: 200px;
    margin:auto;
    font-size: 50px;
    position: relative;
    top: 100px;
    background-image: url();
}

#results {
    /* border: 1px solid red; */
    width: 80%;
    height: 150px;
    margin:auto;
    font-size: 50px;
    background-image: url();
    text-align: center;
    padding-top: 50px;
    position: relative;
    top: 150px;
}

#resetButton {
    height:50px;
    width: 200px;
    position: relative;
    right: 40px;
    bottom: 10px;
    font-size: 20px;
    background-image: url(../images/buttonImage2.jpg);
    background-size: contain;
    color: white;
    font-weight: bolder;
}

#submit-button {
    height: 100px;
    width: 200px;
    background-image: url(../images/submitButton.jpg);
    background-size:cover;
    color:white;
    font-size: 40px;
}

#submit-button:hover {
    color: red;
    font-weight: bolder;
}